@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Alata&family=Black+Ops+One&family=Carter+One&family=Courgette&family=Exo+2&family=Francois+One&family=Fredoka&family=Fredoka+One&family=Kalam&family=Lalezar&family=Mali:wght@400;600&family=Marcellus+SC&family=Maven+Pro&family=Merienda:wght@700&family=Odor+Mean+Chey&family=Patua+One&family=Paytone+One&family=Press+Start+2P&family=Righteous&family=Roboto&family=Syncopate&family=ZCOOL+QingKe+HuangYou&display=swap");
* {
  margin: 0%;
  padding: 0%; }

/*Menu Navegación 1*/
.menu-p-flex {
  display: flex;
  flex-direction: row;
  background-image: url(../img/banner2.jpeg);
  background-repeat: repeat-x; }
  .menu-p-flex .menu-p {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0%; }
    .menu-p-flex .menu-p li {
      list-style-type: none;
      margin: 6px;
      font-size: 15px;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase; }
      .menu-p-flex .menu-p li a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.644); }
        .menu-p-flex .menu-p li a:hover {
          color: white; }
  .menu-p-flex .banner-p {
    width: auto;
    height: 9vh;
    margin-right: 46vw;
    border-radius: 3px; }

/*Menú Navegación 2*/
.menu-p2, .menu-p2 li {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 9vh;
  background-color: #F0F0F0;
  padding: 0%; }
  .menu-p2 li {
    list-style-type: none;
    margin: 8px; }
    .menu-p2 li a {
      text-decoration: none;
      color: black;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 15px; }
      .menu-p2 li a:hover {
        color: #640B00; }
    .menu-p2 li i {
      margin-right: 8px;
      color: #735439; }

.title-p2 {
  margin: 20px 40% 20px 40px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: black; }

/*Sección inicio*/
.sect-inicio {
  background-image: url(../img/fondo7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

.presentacion-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 100px;
  margin: 0px 100px; }

.presentacion {
  text-align: center;
  background-color: rgba(212, 211, 211, 0.603);
  backdrop-filter: blur(3px);
  padding: 70px;
  width: 350px; }
  .presentacion h3 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: black; }
  .presentacion hr {
    opacity: 100%;
    border: solid 1px #640B00;
    margin-top: 5px; }
  .presentacion p {
    color: #73482F;
    font-family: "Roboto", sans-serif;
    padding-top: 20px;
    font-size: 17px; }

.btn1 {
  margin-top: 50px;
  margin-left: 200px;
  padding: 5px;
  width: 100px;
  color: white;
  font-size: 18px;
  background-color: #735439;
  border: solid black 2px;
  border-radius: 4px;
  transition: 0.5s; }
  .btn1:hover {
    color: #73482F;
    background-color: white;
    transform: translateY(10px); }

#icon-wp {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px; }

.sect-sp {
  height: 100%;
  background-color: #F0F0F0; }

.title-sp, .title-se, .title-e, .title-contacto, .title-ubi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: 10vh;
  padding-top: 20px; }
  .title-sp h2, .title-se h2, .title-e h2, .title-contacto h2, .title-ubi h2 {
    margin-top: 20px;
    font-size: 28px;
    font-family: "Roboto", sans-serif; }
    .title-sp h2 hr, .title-se h2 hr, .title-e h2 hr, .title-contacto h2 hr, .title-ubi h2 hr {
      margin: 5px;
      width: 600px;
      border: solid 1px #640B00; }

.btn-g-flex {
  margin-top: 20px; }
  .btn-g-flex .btn-galeria {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    background-color: #640B00;
    padding: 6px;
    border-radius: 3px;
    border: solid black 1px;
    transition: all 0.5s; }
    .btn-g-flex .btn-galeria:hover {
      background-color: white;
      color: black; }

.galeria-sp {
  margin-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(4 25vw);
  grid-template-areas: "card card card card"; }
  .galeria-sp .card {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .galeria-sp .card .img-sp {
      width: 279px;
      height: 180px;
      border-radius: 3px; }
    .galeria-sp .card h4 {
      text-align: center;
      font-family: "Maven Pro", sans-serif;
      font-size: 20px;
      color: black; }
      .galeria-sp .card h4 hr {
        margin: auto;
        margin-top: 5px;
        width: 200px;
        border: solid #640B00 1px; }
    .galeria-sp .card p {
      font-size: 17px;
      text-align: start;
      font-family: "Maven Pro", sans-serif;
      padding: 10px 10px 10px 30px;
      color: black;
      height: 120px; }

.sect-se {
  height: 100%;
  background-color: #735439; }

.galeria-se {
  margin-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(4 25vw);
  grid-template-areas: "card card card card"; }
  .galeria-se .card {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .galeria-se .card .img-se {
      width: 273px;
      height: 180px;
      border-radius: 3px; }
    .galeria-se .card h4 {
      text-align: center;
      font-family: "Maven Pro", sans-serif;
      font-size: 20px; }
      .galeria-se .card h4 hr {
        width: 200px;
        border: solid #640B00 1px;
        margin: auto;
        margin-top: 5px; }
    .galeria-se .card p {
      font-size: 17px;
      text-align: start;
      padding: 10px 10px 10px 30px;
      color: white;
      font-family: "Maven Pro", sans-serif;
      height: 120px; }

.sect-empresas .empresas-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 70vh;
  padding: 30px;
  align-items: center; }
  .sect-empresas .empresas-flex img {
    width: 150px;
    padding: 10px; }

.sect-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #735439; }

.contacto-flex {
  width: 50%;
  height: 100%;
  padding-bottom: 80px; }
  .contacto-flex ul {
    margin-top: 20px;
    margin-left: 50px;
    text-align: start; }
    .contacto-flex ul li {
      list-style: none;
      font-size: 20px;
      font-family: "Maven Pro", sans-serif;
      color: white; }
      .contacto-flex ul li i {
        padding: 8px 10px;
        font-size: 23px;
        color: #640B00; }

.img-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.icon-contacto {
  width: 60px;
  height: auto;
  margin: 50px 20px;
  transition: 0.5s; }
  .icon-contacto:hover {
    transform: translateY(-10px); }

.ubi-flex {
  width: 50%;
  height: 100%;
  padding-bottom: 80px; }
  .ubi-flex p {
    margin-top: 25px;
    text-align: start;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-left: 35px;
    color: white; }
  .ubi-flex .mapa {
    margin-top: 40px;
    margin-left: 83px;
    border: solid #640B00 2px;
    width: 500px;
    height: 300px; }

footer {
  background-color: rgba(0, 0, 0, 0.863);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  height: 4vh;
  text-align: center;
  padding: 5px;
  color: white;
  border: solid rgba(0, 0, 0, 0.514) 2px; }
  footer .linkedin {
    color: white;
    text-transform: uppercase; }

.title-p2 {
  font-weight: 600; }

.carrousel-flex {
  position: relative; }

.carrousel1 {
  width: 100%;
  height: 400px;
  border: solid black 2px; }

.text-carrousel {
  background-color: rgba(0, 0, 0, 0.555);
  height: 90%;
  padding: 20px; }
  .text-carrousel p {
    text-align: center; }
