@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Alata&family=Black+Ops+One&family=Carter+One&family=Courgette&family=Exo+2&family=Francois+One&family=Fredoka&family=Fredoka+One&family=Kalam&family=Lalezar&family=Mali:wght@400;600&family=Marcellus+SC&family=Maven+Pro&family=Merienda:wght@700&family=Odor+Mean+Chey&family=Patua+One&family=Paytone+One&family=Press+Start+2P&family=Righteous&family=Roboto&family=Syncopate&family=ZCOOL+QingKe+HuangYou&display=swap");
* {
  margin: 0%;
  padding: 0%; }

/*Menu Navegación 1*/
.menu-p-flex {
  display: flex;
  flex-direction: row;
  background-image: url(../img/banner2.jpeg);
  background-repeat: repeat-x;
  height: 9vh;
  opacity: 1; }
  .menu-p-flex .menu-p {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0%; }
    .menu-p-flex .menu-p li {
      list-style-type: none;
      margin: 6px;
      font-size: 14.5px;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase; }
      .menu-p-flex .menu-p li a {
        text-decoration: none;
        color: rgba(255, 254, 254, 0.774); }
        .menu-p-flex .menu-p li a:hover {
          color: white; }
  .menu-p-flex .banner-p {
    width: auto;
    height: auto;
    margin-right: 46vw; }

/*Menú Navegación 2*/
.menu-p2, .menu-p2 li {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 9vh;
  background-color: #1a1a1a;
  padding: 0%; }
  .menu-p2 li {
    list-style-type: none;
    padding: 0 10px; }
    .menu-p2 li a {
      text-decoration: none;
      color: white;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 15px; }
    .menu-p2 li i {
      margin-right: 11px;
      color: #A68B6A; }
    .menu-p2 li:hover {
      background-color: rgba(0, 0, 0, 0.329); }
  .menu-p2 .title-p2 {
    margin: 20px 39% 20px 40px;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: white;
    text-decoration: none; }
    .menu-p2 .title-p2:hover {
      color: #A68B6A; }

/*Sección inicio*/
.sect-inicio {
  background-image: url(../img/fondo7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

.presentacion-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 100px;
  margin: 0px 100px; }

.presentacion {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.808);
  padding: 70px;
  width: 350px; }
  .presentacion h3 {
    font-size: 20px;
    font-family: "Maven Pro", sans-serif;
    color: #A68B6A; }
  .presentacion hr {
    opacity: 100%;
    border: solid 1px #640B00;
    margin-top: 5px; }
  .presentacion p {
    color: rgba(255, 255, 255, 0.568);
    font-family: "Maven Pro", sans-serif;
    padding-top: 20px;
    font-size: 19px;
    font-weight: 600; }

.btn1 {
  margin-top: 50px;
  margin-left: 200px;
  padding: 4px 2px;
  width: 100px;
  color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  background-color: #A68B6A;
  border: solid black 2px;
  border-radius: 4px;
  transition: 0.5s; }
  .btn1:hover {
    color: #A68B6A;
    background-color: white;
    transform: scale(1.1); }

#icon-wp {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px; }

.sect-sp {
  height: 100%;
  background-color: #1a1a1a; }

.title-sp, .title-se, .title-e, .title-contacto, .title-ubi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: 10vh;
  padding-top: 20px; }
  .title-sp h2, .title-se h2, .title-e h2, .title-contacto h2, .title-ubi h2 {
    margin-top: 20px;
    font-size: 28px;
    color: white;
    font-family: "Roboto", sans-serif; }
    .title-sp h2 hr, .title-se h2 hr, .title-e h2 hr, .title-contacto h2 hr, .title-ubi h2 hr {
      margin: 5px;
      width: 600px;
      border: solid 1px #640B00; }

.btn-g-flex {
  margin-top: 20px;
  padding-bottom: 20px; }
  .btn-g-flex .btn-galeria {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    background-color: #640B00;
    padding: 6px;
    border-radius: 3px;
    border: solid black 1px;
    transition: all 0.5s; }
    .btn-g-flex .btn-galeria:hover {
      background-color: white;
      color: black; }

.galeria-sp {
  margin-top: 60px;
  padding: 0 20px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(auto, minmax(60vh, 70vh)); }
  .galeria-sp .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    padding-top: 30px;
    transition: box-shadow 0.5s; }
    .galeria-sp .card:hover {
      box-shadow: 0px 0px 10px; }
    .galeria-sp .card .img-sp {
      width: 270px;
      height: 180px;
      border-radius: 3px; }
    .galeria-sp .card h4 {
      text-align: center;
      font-family: "Maven Pro", sans-serif;
      font-size: 20px;
      color: #A68B6A; }
      .galeria-sp .card h4 hr {
        margin: auto;
        margin-top: 5px;
        width: 200px;
        border: solid #640B00 1px; }
    .galeria-sp .card p {
      font-size: 17px;
      text-align: center;
      font-family: "Maven Pro", sans-serif;
      padding: 10px 10px 10px 30px;
      color: white;
      height: 120px; }

.sect-se {
  height: 100%;
  background-color: #A68B6A; }

.title-se h2 {
  color: black; }

.galeria-se {
  margin-top: 60px;
  padding: 0 20px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(auto, minmax(60vh, 70vh)); }
  .galeria-se .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    padding-top: 30px;
    transition: box-shadow 0.5s; }
    .galeria-se .card:hover {
      box-shadow: 0px 0px 10px; }
    .galeria-se .card .img-se {
      width: 270px;
      height: 180px;
      border-radius: 3px; }
    .galeria-se .card h4 {
      text-align: center;
      font-family: "Maven Pro", sans-serif;
      font-size: 20px; }
      .galeria-se .card h4 hr {
        width: 200px;
        border: solid #640B00 1px;
        margin: auto;
        margin-top: 5px; }
    .galeria-se .card p {
      font-size: 17px;
      text-align: center;
      padding: 10px 10px 10px 30px;
      color: white;
      font-family: "Maven Pro", sans-serif;
      height: 120px; }

.title-e h2 {
  color: black; }

.sect-empresas {
  height: 100vh; }
  .sect-empresas .empresas-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 70vh;
    padding: 30px;
    align-items: center; }
    .sect-empresas .empresas-flex img {
      width: 150px;
      padding: 10px;
      transition: transform 0.4s; }
      .sect-empresas .empresas-flex img:hover {
        transform: scale(1.1); }

.title-contacto h2 {
  color: black; }
  .title-contacto h2 hr {
    width: 40vw; }

.sect-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #A68B6A; }

.contacto-flex {
  width: 50%;
  height: 100%;
  padding-bottom: 80px; }

.img-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.icon-contacto {
  width: 60px;
  height: auto;
  margin: 50px 20px;
  transition: 0.5s; }
  .icon-contacto:hover {
    transform: translateY(-10px); }

.ubi-flex {
  width: 50%;
  height: 100%;
  padding-bottom: 80px; }
  .ubi-flex p {
    padding: 0 20px;
    margin-top: 25px;
    text-align: start;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-left: 35px;
    color: white; }
  .ubi-flex .flex-map {
    display: flex;
    justify-content: center; }
    .ubi-flex .flex-map .mapa {
      margin-top: 40px;
      border: solid #640B00 2px;
      width: 500px;
      height: 300px; }
  .ubi-flex .btn {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .ubi-flex .btn img {
      width: 50px;
      margin-top: 20px; }

.title-ubi h2 {
  color: black; }
  .title-ubi h2 hr {
    width: 40vw; }

footer {
  background-color: rgba(0, 0, 0, 0.863);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  height: 4vh;
  text-align: center;
  padding: 5px;
  color: white;
  border: solid rgba(0, 0, 0, 0.514) 2px; }
  footer .linkedin {
    color: white;
    text-transform: uppercase; }

.title-p2 {
  font-weight: 600; }

.carrousel-flex {
  position: relative; }

.carrousel1 {
  width: 100vw;
  height: 50vh;
  background-size: 100%; }

.text-carrousel {
  background-color: rgba(0, 0, 0, 0.555);
  height: 200px;
  padding: 20px;
  margin: auto; }
  .text-carrousel p {
    text-align: center; }

@media screen and (max-width: 580px) {
  .sect-inicio {
    background-image: url(../img/fondo7-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; }
  .menu-p-flex {
    width: 1fr; }
    .menu-p-flex .banner-p {
      width: 250px;
      margin: auto; }
    .menu-p-flex .menu-p #home {
      display: block;
      margin: 20px; }
    .menu-p-flex .menu-p li {
      display: none; }
  .menu-p2-flex {
    width: 1fr; }
  .menu-p2, .menu-p2 li {
    height: 10vh;
    text-align: center; }
    .menu-p2 li {
      flex-wrap: wrap;
      width: 1fr;
      justify-content: center; }
      .menu-p2 li a {
        font-size: 13px; }
    .menu-p2 .title-p2 {
      display: none; }
  .presentacion-flex {
    align-items: center;
    height: 100vh; }
    .presentacion-flex .presentacion {
      width: 250px;
      padding: 40px; }
      .presentacion-flex .presentacion h3 {
        font-size: 18px; }
      .presentacion-flex .presentacion p {
        font-size: 15px; }
    .presentacion-flex .btn1 {
      margin: 30px 0; }
  .sect-se .title-se h2 {
    font-size: 26px; }
    .sect-se .title-se h2 hr {
      width: 80vw;
      margin: auto; }
  .sect-se .galeria-se .card img {
    width: 260px; }
  .sect-se .galeria-se .card .btn-g-flex {
    margin-top: 10px; }
  .sect-sp .title-sp h2, .sect-sp .title-se h2, .sect-sp .title-e h2, .sect-sp .title-contacto h2, .sect-sp .title-ubi h2 {
    font-size: 26px; }
    .sect-sp .title-sp h2 hr, .sect-sp .title-se h2 hr, .sect-sp .title-e h2 hr, .sect-sp .title-contacto h2 hr, .sect-sp .title-ubi h2 hr {
      width: 80vw;
      margin: auto; }
  .sect-sp .galeria-sp .card img {
    width: 260px; }
  .sect-sp .galeria-sp .card .btn-g-flex {
    margin-top: 10px; }
  .sect-empresas {
    padding-bottom: 40px; }
    .sect-empresas .sect-flex .title-e {
      margin-bottom: 40px; }
      .sect-empresas .sect-flex .title-e h2 {
        font-size: 26px; }
        .sect-empresas .sect-flex .title-e h2 hr {
          width: 80vw;
          margin: auto; }
    .sect-empresas .sect-flex .empresas-flex img {
      width: 100px; }
  .sect-contacto {
    flex-direction: column; }
    .sect-contacto .contacto-flex {
      width: 100%;
      padding-bottom: 10px; }
      .sect-contacto .contacto-flex .title-contacto h2 {
        font-size: 26px; }
        .sect-contacto .contacto-flex .title-contacto h2 hr {
          width: 80vw;
          margin: auto; }
    .sect-contacto .ubi-flex {
      width: 100%;
      padding-bottom: 30px; }
      .sect-contacto .ubi-flex .title-ubi h2 {
        font-size: 26px; }
        .sect-contacto .ubi-flex .title-ubi h2 hr {
          width: 80vw;
          margin: auto; }
      .sect-contacto .ubi-flex p {
        font-size: 18px;
        font-family: "Maven Pro", sans-serif;
        margin: 0;
        padding: 5%; }
      .sect-contacto .ubi-flex .flex-map {
        display: flex;
        justify-content: center; }
        .sect-contacto .ubi-flex .flex-map .mapa {
          width: 90vw;
          margin: 0; }
      .sect-contacto .ubi-flex .btn {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .sect-contacto .ubi-flex .btn img {
          width: 50px;
          margin-top: 20px; }
  footer {
    font-size: 13px; } }

@media screen and (min-width: 581px) and (max-width: 1023px) {
  .sect-inicio {
    background-image: url(../img/fondo7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; }
  .menu-p-flex {
    width: 1fr; }
    .menu-p-flex .banner-p {
      width: 250px;
      margin: auto; }
    .menu-p-flex .menu-p #home {
      display: block;
      margin: 20px; }
    .menu-p-flex .menu-p li {
      display: none; }
  .menu-p2, .menu-p2 li {
    width: 100%;
    height: 10vh;
    text-align: center; }
    .menu-p2 li {
      flex-wrap: wrap;
      width: 1fr;
      justify-content: center; }
      .menu-p2 li a {
        font-size: 13px; }
    .menu-p2 .title-p2 {
      display: none; }
  .presentacion-flex {
    align-items: center;
    height: 100vh; }
    .presentacion-flex .presentacion {
      width: 300px;
      padding: 70px;
      margin-top: 50px; }
      .presentacion-flex .presentacion h3 {
        font-size: 20px; }
      .presentacion-flex .presentacion p {
        font-size: 19px; }
    .presentacion-flex .btn1 {
      margin: 30px 0; }
  .sect-se .title-se h2 {
    font-size: 26px; }
    .sect-se .title-se h2 hr {
      width: 80vw;
      margin: auto; }
  .sect-se .galeria-se .card img {
    width: 260px; }
  .sect-se .galeria-se .card .btn-g-flex {
    margin-top: 10px; }
  .sect-sp .title-sp h2, .sect-sp .title-se h2, .sect-sp .title-e h2, .sect-sp .title-contacto h2, .sect-sp .title-ubi h2 {
    font-size: 26px; }
    .sect-sp .title-sp h2 hr, .sect-sp .title-se h2 hr, .sect-sp .title-e h2 hr, .sect-sp .title-contacto h2 hr, .sect-sp .title-ubi h2 hr {
      width: 80vw;
      margin: auto; }
  .sect-sp .galeria-sp .card img {
    width: 260px; }
  .sect-sp .galeria-sp .card .btn-g-flex {
    margin-top: 10px; }
  .sect-empresas {
    padding-bottom: 40px; }
    .sect-empresas .sect-flex .title-e {
      margin-bottom: 40px; }
      .sect-empresas .sect-flex .title-e h2 {
        font-size: 26px; }
        .sect-empresas .sect-flex .title-e h2 hr {
          width: 80vw;
          margin: auto; }
    .sect-empresas .sect-flex .empresas-flex img {
      width: 100px; }
  .sect-contacto {
    flex-direction: column; }
    .sect-contacto .contacto-flex {
      width: 100%;
      padding-bottom: 10px; }
      .sect-contacto .contacto-flex .title-contacto h2 {
        font-size: 26px; }
        .sect-contacto .contacto-flex .title-contacto h2 hr {
          width: 80vw;
          margin: auto; }
    .sect-contacto .ubi-flex {
      width: 100%;
      padding-bottom: 30px; }
      .sect-contacto .ubi-flex .title-ubi h2 {
        font-size: 26px; }
        .sect-contacto .ubi-flex .title-ubi h2 hr {
          width: 80vw;
          margin: auto; }
      .sect-contacto .ubi-flex p {
        font-size: 18px;
        font-family: "Maven Pro", sans-serif;
        margin: 0;
        padding: 5%; }
      .sect-contacto .ubi-flex .flex-map {
        display: flex;
        justify-content: center; }
        .sect-contacto .ubi-flex .flex-map .mapa {
          width: 90vw;
          margin: 0; }
      .sect-contacto .ubi-flex .btn {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .sect-contacto .ubi-flex .btn img {
          width: 50px;
          margin-top: 20px; }
  footer {
    font-size: 13px; } }
