
.title-p2{
    font-weight: 600;
}
.carrousel-flex{
    position: relative;
}
.carrousel1{
    width: 100%;
    height:400px;
    border: solid black 2px;
}

.text-carrousel{
    background-color: rgba(0, 0, 0, 0.555);
    height: 90%;   
    padding: 20px;
        p{
            text-align:center;
        }
}

