
.title-p2{
    font-weight: 600;
}
.carrousel-flex{
    position: relative;
}
.carrousel1{
    width: 100vw;
    height:50vh;
    border: solid black 2px;
    background-size: 100%;
}

.text-carrousel{
    background-color: rgba(0, 0, 0, 0.555);
    height: 200px;   
    padding: 20px;
    margin: auto;
        p{
            text-align:center;
         
        }
}

