@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Maven+Pro&family=Merriweather+Sans&family=ZCOOL+QingKe+HuangYou&display=swap');

//font-family: 'League Gothic', sans-serif;
//font-family: 'Merriweather Sans', sans-serif;
//font-family: 'Maven Pro', sans-serif; 
//font-family: 'ZCOOL QingKe HuangYou', cursive;