//Sección Contacto//
.title-contacto{
    @extend .title-sp ;
    h2{
        color: $color-titulos-se;
    }
}

.sect-contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $color-p2;
}

.contacto-flex{
    width:50%;
    height: 100%;
    padding-bottom: 80px;  
}

.img-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-contacto{
    width: 60px;
    height: auto;
    margin: 50px 20px;
    transition: 0.5s;
        &:hover{
            transform: translateY(-10px);
        }
}

//Sección ubicación
.ubi-flex{
    width:50%;
    height: 100%;
    padding-bottom: 80px;
        p{
            margin-top: 25px;
            text-align: start;
            font-size: 20px;
            font-family: $title-galeria;
            margin-left: 35px;
            color: $blanco;
        }
        .flex-map{
            display: flex;
            justify-content: center;
            .mapa{
                margin-top: 40px;
                border: solid $color-s 2px;
                width: 500px;
                height: 300px
            }
        }
        .btn{
            display: flex;
            flex-direction: row;
            justify-content: center;
            img{ 
                width: 50px;
                margin-top:20px;
            }
        } 
}

.title-ubi{
    @extend .title-sp ;
    h2{
        color: $color-titulos-se;
    }
}

footer{
    background-color: rgba(0, 0, 0, 0.863);
    font-family:$title-galeria;
    font-size: 15px;
    height: 4vh;
    text-align: center;
    padding: 5px;
    color:$blanco;
    border: solid rgba(0, 0, 0, 0.514) 2px;
        .linkedin{
            color: white;
            text-transform: uppercase;
        }
    
}
