//Sección Seguros Personales//

.sect-sp{
    height: 100%;
    background-color:$color-fondos;
}

.title-sp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 10vh;
    padding-top:20px;
        h2{
            margin-top: 20px;
            font-size: 28px;
            color: $color-titulos-sp;
            font-family:$title-galeria;
                hr{
                    margin: 5px;
                    width: 600px;
                    border: solid 1px $color-s;
                }
         }
}

.btn-g-flex{
    margin-top: 20px;
    .btn-galeria{
        font-family: $title-galeria;
        font-size: 15px;
        color: $blanco;
        text-decoration: none;
        background-color: $color-s;
        padding: 6px;
        border-radius: 3px;
        border: solid $negro 1px;
        transition: all 0.5s;
            &:hover{
                background-color: $blanco;
                color: $negro;
            }
    }
}

.galeria-sp{
    margin-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto,minmax(60vh, 70vh));
        .card{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 10px;
            padding-top: 30px;
                .img-sp{
                    width: 270px;
                    height: 180px;
                    border-radius: 3px;
                }
            h4{
                text-align: center;
                font-family:$title-card; 
                font-size: 20px;
                color: $color-subt-sp;
                hr{
                    margin:auto;
                    margin-top: 5px; 
                    width: 200px;
                    border: solid $color-s 1px;
                }
            }
            p{
                font-size: 17px;
                text-align: center;
                font-family:$title-card; 
                padding: 10px 10px 10px 30px;
                color: $blanco;
                height: 120px;
            }
        }
}


//Sección Seguros Empresariales//

.sect-se{
    height: 100%;
    background-color:$color-p2;
}
.title-se{
   @extend .title-sp;
   h2{
    color: $color-titulos-se;
}
}

.galeria-se{
    margin-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto,minmax(60vh, 70vh));
        .card{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 10px;
            padding-top: 30px;
                .img-se{
                    width: 270px;
                    height: 180px;
                    border-radius: 3px;
                }
                h4{
                    text-align: center;
                    font-family: $title-card; 
                    font-size: 20px;
                        hr{
                            width: 200px;
                            border: solid $color-s 1px;
                            margin:auto;
                            margin-top: 5px;                            
                        }
                }
                p{
                    font-size: 17px;
                    text-align: center;
                    padding: 10px 10px 10px 30px;
                    color: white;
                    font-family: $title-card; 
                    height: 120px;
                }
}
}

//Sección Empresas//
.title-e{
    @extend .title-sp ;
    h2{
        color: $color-titulos-se;
    }
}

.sect-empresas{
    height: 100vh;
        .empresas-flex{
            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
            justify-content: center;
            height: 70vh;
            padding: 30px;
            align-items: center;
                img{
                width: 150px;
                padding: 10px
                }
        }
}