
//Colores//
$negro:black;
$negro-claro:rgba(19, 19, 19, 0.856);
$gris-claro:#F0F0F0;
$blanco:white; 
$color-p: #73482F;
$color-p2:#735439;
$color-s:#640B00;

//Fuentes

$title-card:'Maven Pro', sans-serif; 
$title-galeria:'Roboto', sans-serif;
