
//Colores//
$negro:black;
$negro-claro:rgba(19, 19, 19, 0.856);
$gris-claro:#F0F0F0;
$blanco:white; 
$color-p: #73482F;
$color-p2:#8C6954;
$color-s:#640B00;

//Fuentes

$maven-pro:'Maven Pro', sans-serif; 
$merry:'Merriweather Sans', sans-serif;
$title-galeria:'ZCOOL QingKe HuangYou', cursive;