*{
    margin: 0%;
    padding: 0%;
}

@import "variables";
@import "fuentes";
@import "seccion-sp";

/*Menu Navegación 1*/
.menu-p-flex{
    display: flex;
    flex-direction: row;
    background-color:$gris-claro; 
    .menu-p{
        display: flex;
        flex-direction: row;
        align-items: center;
            li{
                list-style-type: none;
                margin: 6px;
                font-size: 15px;
                font-family: $maven-pro;
                text-transform: uppercase;
                    a{
                        text-decoration: none;
                        color: $color-p;
                    }
            }
    } 
    .banner-p{
        width:auto;
        height: 9vh;
        margin-right: 48%;
    }
}

/*Menú Navegación 2*/

.menu-p2{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 9vh;
    background-color:$blanco;
        li{
            @extend .menu-p2 ;
            list-style-type: none;
            margin: 8px;
                a{
                    text-decoration: none;
                    color: $negro;
                    font-family: $maven-pro; 
                    font-size: 15px;
                        &:hover{
                            color: $color-s;
                        }
                }
                i{
                    margin-right: 8px;
                    color: $color-p2;
                }
        }
}

.title-p2{
    margin:20px 41% 20px 40px;
    font-size: 18px;
    font-family: $maven-pro; 
    text-align: center;
    color:$color-p2 ;
}
/*Sección inicio*/

.sect-inicio{
    background-image: url(../img/fondo4.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.presentacion{
    margin-top: 150px;
    margin-left: 100px;
    text-align: center;
    background-color: rgba(212, 211, 211, 0.603);
    backdrop-filter: blur(3px);
    position: absolute;
    padding: 70px;  
    width: 300px;
        h3{
            font-size: 18px;
            font-family: $merry;
            color: $negro;
        }
        hr{
            opacity: 100%;
            border: solid 1px $color-s;
            margin-top:5px ;
        } 
        p{
            color:$color-p;
            font-family: $merry;
            padding-top: 20px;
            font-size: 17px;
            
        }
}

.btn1{
    position: absolute;
    margin-top: 460px;
    margin-left: 270px;
    padding: 5px;
    width: 100px;
    color: $blanco;
    font-size: 18px;
    background-color:$color-p2;
    border:solid black 2px;
    border-radius: 4px;
    transition: 0.5s;
        &:hover{
            color: $color-p;
            background-color: $blanco;
            transform: translateY(10px);
        }
}

#icon-wp{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

footer{
    background-color: $color-p;
    font-family:$maven-pro;
    font-size: 15px;
    height: 4vh;
    text-align: center;
    padding: 5px;
    color:$blanco;
    border: solid rgba(0, 0, 0, 0.514) 2px;
        .linkedin{
            color: $negro;
        }
    
}